<!doctype html>
<html lang="es">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
{#            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">#}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fontawesome5-overrides.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Footer.css')}}">
        {% endblock %}

       	<title>{% block title %}Buscador UIMI{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <!-- NavBar -->
    	{%block navbar%}{% endblock%}

        <!-- Contenido de Pagina -->
        {% block content %}{% endblock %}

        {% block footer %}
            {% include 'footer.html' %}
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>
