<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="background: linear-gradient(85deg, #479340, rgb(167,231,162) 100%);">
        <div class="container"><a class="navbar-brand logo" href="#" style="color: rgba(255,255,255,0.9);">Buscador Universidad de Nariño</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="../public/templates/public/index.html" style="color: #4a4646;">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="features.html" style="color: #4a4646;">Nosotros</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="contact-us.html" style="color: #4a4646;">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
